<% layout("/layouts/boilerplate") %>

    <body>

        <div class="home-page">
            <div class="home-page-img">
                <img src="https://res.cloudinary.com/dxzcugmwi/image/upload/v1725192174/Home-page_wj7cub.png" alt="">
            </div>
            <div class="home-page-text">
                <h1>FRESH FROM <br> THE FARM</h1>
                <p>We deliver organic fruits & vegetables fresh <br> from our fields to your doorstep.</p>
                <a href="/farmfresh/shop" class="btn btn-warning">Order now</a>
            </div>
        </div>

        <div class="info">
            <div class="info-border">
                <div class="info-title">
                    "FarmFresh: Freshness You Can Taste, <br>Quality You Can Trust!"
                </div> 
            </div>   
        </div>
        <div class="info-img">
            <img src="https://res.cloudinary.com/dxzcugmwi/image/upload/v1725192174/Home_page_fruits_section.png"  alt="">
        </div>
    </body>