<% layout("/layouts/boilerplate") %>

<div class="row mt-3">
    <div class="col-md-4 col-sm-6 col-xs-6 offset-md-4 ">

        <div class="cart-empty">
            <h3 class="mb-3">Order confirmed !</h3>
        </div>

    </div>
</div>